.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 14px 20px;
  box-sizing: border-box;
}

.sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.main-link {
  color: rgba(0, 0, 0, 0.85);
}
