.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

.username {
  margin-right: 25px;
  color: rgba(0, 0, 0, 0.85);
}

.avatar {
  width: 46px;
  height: 46px;
}

.profile-link {
  display: flex;
  align-items: center;
}

.create-button {
  border: 1px solid #52c41a;
  color: #52c41a;
  background-color: transparent;
}

.logout-button {
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  background-color: transparent;
}
